{% extends 'base.html' %}

{% block content %}
<div class = "container">
<h2 style="text-align: center">{{ search | title }}</h2>
{% for post in posts %}

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{post.1}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{post.0}}</span>
      <p><a href="{{post.1}}">view</a></p>
    </div>

</div>

{% endfor %}
</div>



{% endblock content %}
